In [1]:
import pandas as pd 
import numpy as np

In [2]:
loans = pd.read_csv("loan_data.csv")
loans

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
0,1,debt_consolidation,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0
1,1,credit_card,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0
2,1,debt_consolidation,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0
3,1,debt_consolidation,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0
4,1,credit_card,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9573,0,all_other,0.1461,344.76,12.180755,10.39,672,10474.000000,215372,82.1,2,0,0,1
9574,0,all_other,0.1253,257.70,11.141862,0.21,722,4380.000000,184,1.1,5,0,0,1
9575,0,debt_consolidation,0.1071,97.81,10.596635,13.09,687,3450.041667,10036,82.9,8,0,0,1
9576,0,home_improvement,0.1600,351.58,10.819778,19.18,692,1800.000000,0,3.2,5,0,0,1
9577,0,debt_consolidation,0.1392,853.43,11.264464,16.28,732,4740.000000,37879,57.0,6,0,0,1

In [3]:
loans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9578 entries, 0 to 9577
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   credit.policy      9578 non-null   int64
 1   purpose            9578 non-null   object
 2   int.rate           9578 non-null   float64
 3   installment        9578 non-null   float64
 4   log.annual.inc     9578 non-null   float64
 5   dti                9578 non-null   float64
 6   fico               9578 non-null   int64
 7   days.with.cr.line  9578 non-null   float64
 8   revol.bal          9578 non-null   int64
 9   revol.util         9578 non-null   float64
 10  inq.last.6mths     9578 non-null   int64
 11  delinq.2yrs        9578 non-null   int64
 12  pub.rec            9578 non-null   int64
 13  not.fully.paid     9578 non-null   int64
dtypes: float64(6), int64(7), object(1)
memory usage: 1.0+ MB

In [4]:
cat_feats = ["purpose"]

In [5]:
final_data = pd.get_dummies(loans, columns=cat_feats, drop_first=True)

In [6]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9578 entries, 0 to 9577
Data columns (total 19 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   credit.policy               9578 non-null   int64
 1   int.rate                    9578 non-null   float64
 2   installment                 9578 non-null   float64
 3   log.annual.inc              9578 non-null   float64
 4   dti                         9578 non-null   float64
 5   fico                        9578 non-null   int64
 6   days.with.cr.line           9578 non-null   float64
 7   revol.bal                   9578 non-null   int64
 8   revol.util                  9578 non-null   float64
 9   inq.last.6mths              9578 non-null   int64
 10  delinq.2yrs                 9578 non-null   int64
 11  pub.rec                     9578 non-null   int64
 12  not.fully.paid              9578 non-null   int64
 13  purpose_credit_card         9578 non-null   uint8
 14  purpose_debt_consolidation  9578 non-null   uint8
 15  purpose_educational         9578 non-null   uint8
 16  purpose_home_improvement    9578 non-null   uint8
 17  purpose_major_purchase      9578 non-null   uint8
 18  purpose_small_business      9578 non-null   uint8
dtypes: float64(6), int64(7), uint8(6)
memory usage: 1.0 MB

In [7]:

from sklearn.model_selection import train_test_split

In [8]:
X = final_data.drop('not.fully.paid', axis = 1)
y = final_data['not.fully.paid']
#dividir los datos de entrenamiento y datos de prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30, random_state = 101)

## Árbol de decisión

In [9]:
from sklearn.tree import DecisionTreeClassifier

In [10]:
# Generar la  instancia de DecisionTreeClassifier()
dtree = DecisionTreeClassifier()

In [11]:
# entrenar el modelo con nuestros datos.    X_train, y_train
dtree.fit(X_train, y_train)

DecisionTreeClassifier()

In [12]:
#Predicciones del modelo
predictions = dtree.predict(X_test)

In [13]:
from sklearn.metrics import classification_report, confusion_matrix

In [14]:
print('precisión del modelo de arbol :', dtree.score(X_test, y_test))

precisión del modelo de arbol : 0.7275574112734864

## Proceso con Random forest

In [15]:
from sklearn.ensemble import RandomForestClassifier

In [16]:
# Generar la  instancia de RandomForestClassifier(n_estimators=600) n_estimators = al N de arboles
rfc = RandomForestClassifier(n_estimators=600)

In [17]:
# entrenar el modelo con nuestros datos.    X_train, y_train
rfc.fit(X_train, y_train)

RandomForestClassifier(n_estimators=600)

In [18]:
#Predicciones del modelo
predictions = rfc.predict(X_test)

In [19]:
# imports de las metricas
from sklearn.metrics import classification_report, confusion_matrix

In [20]:
print('precisión del modelo de bosque aleatorio :', rfc.score(X_test, y_test))

precisión del modelo de bosque aleatorio : 0.8465553235908142

# Comparativa de los modelos

In [21]:
print('precisión del modelo de arbol de decisión :', dtree.score(X_test, y_test))
print('precisión del modelo de bosque aleatorio  :', rfc.score(X_test, y_test))

precisión del modelo de arbol de decisión : 0.7275574112734864
precisión del modelo de bosque aleatorio  : 0.8465553235908142